<div class="about-callout text-center container-fluid">
<h1>About </h1>
</br>
</br>
</br>
<p>A coalition including the Rockingham Whigs, led by the Earl of Shelburne, took power in 1782, only to collapse after Rockingham's death. The new government, led by the radical politician Charles James Fox in coalition with Lord North, was soon brought down and replaced by William Pitt the Younger in 1783. It was now that a genuine two-party system began to emerge, with Pitt leading the new Tories against a reconstituted "Whig" party led by Fox.[7][8]

By the time of this split the Whig party was increasingly influenced by the ideas of Adam Smith, founder of classical liberalism. As Wilson and Reill (2004) note, "Adam Smith's theory melded nicely with the liberal political stance of the Whig Party and its middle-class constituents."[9]

The modern Conservative Party was created out of the 'Pittite' Tories of the early 19th century. In the late 1820s disputes over political reform broke up this grouping. A government led by the Duke of Wellington collapsed amidst dire election results. Following this disaster Robert Peel set about assembling a new coalition of forces. Peel issued the Tamworth Manifesto in 1834 which set out the basic principles of Conservatism; – the necessity in specific cases of reform in order to survive, but an opposition to unnecessary change, that could lead to "a perpetual vortex of agitation". Meanwhile, the Whigs, along with free trade Tory followers of Robert Peel, and independent Radicals, formed the Liberal Party under Lord Palmerston in 1859, and transformed into a party of the growing urban middle-class, under the long leadership of William Ewart Gladstone.
</br>
</br>
</br>
</br>
</br>

</br>
In America
Although the Founding Fathers of the United States did not originally intend for American politics to be partisan,[10] early political controversies in the 1790s over the extent of federal government powers saw the emergence of two proto-political parties- the Federalist Party and the Democratic-Republican Party, which were championed by Framers Alexander Hamilton and James Madison, respectively.[11][12] However, a consensus reached on these issues ended party politics in 1816 for a decade, a period commonly known as the Era of Good Feelings.[13]

Party politics revived in 1829 with the split of the Democratic-Republican Party into the Jacksonian Democrats led by Andrew Jackson, and the Whig Party, led by Henry Clay. The former evolved into the modern Democratic Party and the latter was replaced with the Republican Party as one of the two main parties in the 1850s.</p>
</div>