




<div class="red-callout text-center container-fluid">
<h1></br></br>Welcome to ProgMatch</h1>
  
  
<h2>This is the first page </h2>
<h3>A membership site where entrepreneurs can meet developers.</h3>
</br>
</br>
</div>








<div class="homeend-callout text-center container-fluid">
  <h3>Membership organization is a term which refers to any organization that allows people to subscribe, and often requires them to pay a membership fee or "subscription".

Membership organizations typically have a particular purpose, which involves connecting people together around a particular profession, industry, activity, interest, mission or geographical location. This might simply be to encourage or facilitate interaction and collaboration, but it also often involves promoting and enhancing the purpose.</br>

They are often not for profit, but there are also many commercially run membership organizations, and some larger not for profit membership organizations (like the National Trust in the United Kingdom) which have commercial subsidiaries.</br>

They vary in size from very small, voluntary associations, which may not be formally established, to very large nationally or internationally renowned organizations, like the aforementioned National Trust, which had 3.7 million members in 2010, each paying about £50 per year.Membership organization is a term which refers to any organization that allows people to subscribe, and often requires them to pay a membership fee or "subscription".

Membership organizations typically have a particular purpose, which involves connecting people together around a particular profession, industry, activity, interest, mission or geographical location. This might simply be to encourage or facilitate interaction and collaboration, but it also often involves promoting and enhancing the purpose.</br>

They are often not for profit, but there are also many commercially run membership organizations, and some larger not for profit membership organizations (like the National Trust in the United Kingdom) which have commercial subsidiaries.</br>

They vary in size from very small, voluntary associations, which may not be formally established, to very large nationally or internationally renowned organizations, like the aforementioned National Trust, which had 3.7 million members in 2010, each paying about £50 per year.</br></h3>
</div>